.current {
    color: black;
    width: fit-content;
    margin: auto;
    font-size: 32px;
}

.body_style {
    width: fit-content;
    margin-top: 50px;
    margin-left: 250px;
    margin-right: auto;
}